@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    background-color: #1d2124;
    color: #ffffff;
}

button {
  /*background-color: #4CAF50;*/
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #1e52b2;
  color: white;
}

input[type=text] {
  background-color: #c7c9cc;
  color: white;
  border: 2px solid #1e52b2;
}

footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #343A40;
    color: #ffffff;
}

.rules-text {
    position: absolute;
    opacity: 0;
    text-align: center;
    animation-name: fadeInOut;
    animation-duration: 7s;
}

.user-controls {
    text-align: center;
}

.user-list {
    position: absolute;
    text-align: center;
    bottom: 50px;
    font-size: 14px;
}

.user-list-waiting {
    font-size: 20px;
}

.submitted-answers {
    font-size: 20px;
}