@keyframes lightToDark {
    0% {
        background-color: #1d2124;
    }
    
    100% {
        background-color: #050607;
    }
}

@keyframes darkToLight {
    0% {
        background-color: #050607;
    }
    
    100% {
        background-color: #1d2124;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.2;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 0.2;
    }
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #1d2124;
    color: #ffffff;
}

button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #1e52b2;
  color: white;
}

input[type=text] {
  background-color: #c7c9cc;
  color: black;
  border: 2px solid #1e52b2;
}

table {
    margin: 1em auto;
    font-size: 24px;
}

footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #343A40;
    color: #ffffff;
    z-index: 9999;
}

.bg-image {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-size: cover;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.user-controls {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.user-list {
    text-align: center;
    bottom: 50px;
    font-size: 14px;
}

.answer-input {
  font-size: 14px;
}

.info-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
}

body #toast-container > div {
    opacity: 0.9;
}

.footer-div {
  z-index: 9999;
}