body {
    background-color: #1d2124;
    color: #ffffff;
}

button {
  /*background-color: #4CAF50;*/
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #1e52b2;
  color: white;
}

input[type=text] {
  background-color: #c7c9cc;
  color: black;
  border: 2px solid #1e52b2;
}

footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #343A40;
    color: #ffffff;
}

.user-controls {
    text-align: center;
}

.user-list {
    position: absolute;
    text-align: center;
    bottom: 50px;
    font-size: 16px;
}

.answer-input {
  font-size: 14px;
}

.info-text {
  padding-bottom: 20px;
}